<html>
<head>
	<title> История на фара </title>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=Windows-1251">
</head>
<body background="bg_.jpg">

	<br>

	<center>
		<font face="Arial" size="5"><b> История на фара </b> </font> <br>
	</center>

	<br>

	<img src="~/images/far-galata-small.jpg" style="margin: 5px; float: right;" width="135" height="170">
	<img src="~/images/far3.jpg" style="margin: 5px; float: left;" width="135" height="170">
	<br>
	<br>
	<center>
		&nbsp;&nbsp;&nbsp;Фарът на нос Галата е сред основните навигационни съоръжения по българското черноморие. Започва да работи на 15 август 1863 година на газ. През 1912 година на стотина метра от стария фар е построен новият. През 1914 г., когато Варна е електрифицирана, фарът започва да функционира на ток. Много кораби и рибарски лодки са намерили спасителния път към пристанището благодарение на него.
	</center>
	<br>
	<br>
	<br>
	<br>
	<br>

	<a href="istoriq-oshte.html" target="main">
		<center>
			<font face="Arial" size="4"><b> още за историята на фара </b> </font> <br>
		</center>
	</a>

</body>

</html>
