@*@{
    ViewData["Title"] = "Информация";
}
<style>
    body {
        background-color: aliceblue;
    }
</style>*@
@*<html>
<head>

    <title> Галатея </title>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=Windows-1251">
</head>
<body background="images/bg_.jpg">
    <center>
        <font face="Arial" size="5"><b> Образование </b> </font> <br>
    </center>
    <br>
    <br>
    <center>
        <font face="Areal" size="4"> <b> ОДЗ №25 "Люляче" - </b></font> <font face="Areal" size="4">Целодневна детска градина </font>
        <br>
        <strong>Адрес:</strong> град Варна, район Аспарухово, кв. Галата, ул. "Адмирал Гейт" №21<br>
        <strong>Телефон:</strong> 052 378 392<br>
        <strong>Уеб сайт:</strong> <a href="http://www.obrazovanie-varna.com/page.php?62" target="_blank">http://www.obrazovanie-varna.com/page.php?62</a><br>
        <strong>E-mail:</strong> <a href="mailto:marianaurasteva@abv.bg">marianaurasteva@abv.bg</a>
        <br>
        <strong>За повече информация вижте <i>тук</i> </strong>
        <br>
        <br>
        <br>
        <font face="Areal" size="4"> <b> Основно училище "Капитан Петко войвода"</b></font>
        <br>
        <strong>Адрес:</strong> гр. Варна, кв. Галата, ул. Капитан I ранг Георги Купов <br>
        <strong>Телефон:</strong> 052 37 84 34 <br>
        <strong>Уеб сайт:</strong> <a href="http://ou-kap-petko.info/index.php" target="_blank">http://ou-kap-petko.info/index.php</a><br>
        <strong>E-mail:</strong> <a href="mailto:ou_kap.petko@abv.bg">ou_kap.petko@abv.bg</a>
        <br>
        <strong>За повече информация вижте <i>тук</i> </strong>
    </center>

</body>
</html>*@

