@{
    ViewData["Title"] = "Home Page"; 
}

<html>
<head>
    <title> Галатея </title>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=Windows-1251">
</head>
<body background="images/bg_.jpg">
    <center>
        <font face="Arial" size="5"><b> Добре дошли в Галатея - официален сайт на квартал Галата - град Варна </b> </font> <br>
    </center>
    <br>   
    <center>
        <font face="Arial" size="5"><b> Място за търсене, предлагане и споделяне на информация </b> </font> <br>
    </center>
    <br>
    <br>

    <img src="images/galateq.jpg" style="margin: 5px; float: right;" width="300" border="0" height="180">
    <img src="images/galata1.jpg" style="margin: 5px; float: left;" width="300" border="0" height="180">
    <br>
    <center>
        &nbsp;&nbsp;&nbsp;&nbsp;Галата е най-малкият квартал на Варна. Намира се в най-високата приморска част на града върху едноименния нос. В подножието му е естественият завършек на Варненския залив. Край него поради метеорологични условия често корабите престояват на рейд преди да навлязат в пристанището.

        Галата е сред елитните варненски квартали, макар и отдалечен от центъра на града. Той се намира в район Аспарухово на Община Варна. До него се достига чрез Аспаруховия мост и панорамния път край Варненския залив. Кварталът ползва цялата инфраструктура на града и има изключителна гледка и мек климат.

        Край Галата има чисти, девствени и каменисти плажове - Фичоза и Паша дере, подходящи за палатков туризъм, както и малки хотели и бунгала. В близост е южната курортна зона на Варна, Боровец.
    </center>


</body>

</html>

<div class="mb-5"></div>

<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-info" id="statistics_btn">Покажи статистика</button>
    </div>
</div>

<div class="mt-4 p-5 bg-light d-none" id="statistics_box">
    <div class="row">
        <h2 class="col-md-6 text-center" id="total_publications"></h2>
        <h2 class="col-md-6 text-center" id="total_users"></h2>
    </div>
</div>

@section Scripts
    {
    <script>statistics();</script>
}
